{% extends "base.html"%}
{% block content %}
	<hr>
	</br>
	<a href="/crearjuego"><button type="submit" class=" btn btn-primary">Crear juego</button></a>
	{% if juegos[0] %}
	<b><big>Lista de juegos :</big></b>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr id="row">
					<th class="nombre">Nombre</th>
					<th class="creador">Creador</th>
					<th class="estado">Estado</th>
					<th class="fechaFin">Fecha límite</th>
					<th class="participantes">Participantes</th>
					<th class="func1">Detalles</th>
					<th class="func2">Inscribirse</th>
				</tr>
			</thead>
			<tbody>
				{% for juego in juegos %}
					<tr class="datas">
						<td class="nombre">{{ juego["nombre"] }}</td>
						<td class="creador">{{ juego["creador"] }}</td>
						<td class="estado">{{ juego["estado"] }}</td>
						<td class="fechaFin">{{ juego["fechaFin"] }}</td>
						<td class="participantes">{{'0' if juego["participantes"] == None else juego["participantes"]|length}}</td>
						<td class="func1"><a href="./detalles?_id={{ juego['_id'] }}"><button type="submit">Detalles</button></a></td>
						<td class="func1"><a href="./inscribir?_id={{ juego['_id'] }}"><button type="submit">Inscribirse</button></a></td>
					</tr>
				{% endfor %}
			</tbody>
			
		</table>
	</div>
		{% else %}
			<h4>No hay juegos abiertos actualmente.</h4>
		{% endif %}
	<hr/>
{% endblock content %}


