{%extends "base.html"%}
{% block content %}
<br/>
<br/>
<br/>
{% if user.email %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Profile <span class="glyphicon glyphicon-list" aria-hidden="true"></span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                    <input type="email" class="form-control" name="inputCorreo" id="inputCorreo" disabled value="{{ user.userEmail }}">
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Nombre de Usuario</label>
                    <input type="text" class="form-control" name="inputName" id="inputName" disabled value="{{ user.userName }}">
                </div>
                {% if user.isAdmin %}
                <div class="form-group">
                    <div class="text-center">
                        <label><strong>You are an Administrator, you can't delete your account</strong></label>
                    </div>
                </div>  
                {% else %}
                <div class="form-group">
                    <div class="text-center">
                        <a href="javascript:deleteUser()" class="btn btn-success">Delete Profile</a>
                    </div>
                </div> 
        </div>
    </div>
    <div class="row">
        <div>
            <button type="button" class="btn btn-success" onclick="showCreatorTable()">Creador</button>
            <button type="button" class="btn btn-success" onclick="showCompetitorTable()">Participante</button>
        </div>
        <div id="mis Juegos" class="table-responsive">
            <table class="table table-striped">
                <tr id="row">
                    <th class="nombre">Nombre</th>
                    <th class="creador">Creador</th>
                    <th class="estado">Estado</th>
                    <th class="fecha_fin">Fecha límite</th>
                    <th class="participantes">Participantes</th>
                    <th class="func1">Detalles</th>
                    <th class="func2">Inscribirse</th>
                </tr>
            </table>
        </div>
    </div>
{% endif %}
<script>
    function showCompetitorTable () {

    }
    function showCreatorTable() {

    }
</script>
{% endblock content %}