{% extends "base.html"%}
{% block content %}
	<hr>
	</br>
	<div class="row">
		<div class="col"></div>
		<div id="map" class="col-10 map">
			<script>
				var view = new ol.View({
			  center: ol.proj.fromLonLat([-4.4780512, 36.7150865]),
								  zoom: 12
			});
			var map = new ol.Map({
					target: 'map',
						layers: [
						 new ol.layer.Tile({
						   source: new ol.source.OSM()
							 })
							  ],
						  view: view
			  });
			  var positionFeature = new ol.Feature();
			positionFeature.setStyle(new ol.style.Style({
			  image: new ol.style.Circle({
				radius: 6,
				fill: new ol.style.Fill({
				  color: '#3399CC'
				}),
				stroke: new ol.style.Stroke({
				  color: '#fff',
				  width: 2
				})
			  })
			}));
			var geolocation = new ol.Geolocation({
			  // enableHighAccuracy must be set to true to have the heading value.
				trackingOptions: {
					  enableHighAccuracy: true
					},
					projection: view.getProjection()
				  });
		
				geolocation.setTracking(true);
				var coordinates = geolocation.getPosition();
			  	geolocation.on('change:position', function() {
					var coordinates = geolocation.getPosition();
					  console.log(coordinates);
					positionFeature.setGeometry(coordinates ?
					  new ol.geom.Point(coordinates) : null);
				  });
		
			  var vectorSource = new ol.source.Vector({
				   features: [positionFeature]
			   });
			   var markerVectorLayer = new ol.layer.Vector({
				   source:  vectorSource,
			   });
				map.addLayer(markerVectorLayer);

				function addMarker(x,y){
					
				 var marker = new ol.Feature({
				   geometry: new ol.geom.Point(
						  ol.proj.fromLonLat([y, x]))
			   	});
			   var vectorSource = new ol.source.Vector({
				   features: [marker, positionFeature]
			   });
			   var markerVectorLayer = new ol.layer.Vector({
				   source:  vectorSource,
			   });
				map.addLayer(markerVectorLayer);
				};
			</script>
		</div>
	</div>
	</br>
	<a class="btn btn-primary py-2 ml-2" href="https://twitter.com/intent/tweet?text=¿ Quieres jugar conmigo a la Caza del Tesoro   {{ juego[0].nombre }} ? Únete en https://huntingtreasureumapp.herokuapp.com/ !!!"><i class="bi bi-twitter"></i> Compartir Juego en Twitter</a>
	</br>


	{% if (user.isAdmin or (juego[0].creador == user.userEmail)) %}
	</br>
	<div class="col-md-2">
		<a href="/modificarjuego?_id={{ juego[0]._id['$oid'] }}"><button type="submit" class=" btn btn-primary">Modificar juego</button></a>
	</div>	
	<div class="col-md-2">
		<a href="/resetjuego?_id={{ juego[0]._id['$oid'] }}"><button type="submit" class=" btn btn-primary">Resetear juego</button></a>
	</div>
	</br>
	</br>
	<h3>Tesoros :</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr id="row">
					<th>Número tesoro</th>
					<th>Coordenada X</th>
					<th>Coordenada Y</th>
					<th>Encontrado</th>
					<th>Localizado por</th>
				</tr>
			</thead>
			<tbody>
				{% for i in tesoro %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ i.coordenadaX }}</td>
						<td>{{ i.coordenadaY }}</td>
						{% if i.encontrado %}
							<td>SI</td>
						{% else %}
							<td>NO</td>
						{% endif %}
						<td>{{ i.localizadoPor }}</td>
					</tr>
					<script>
					addMarker({{ i.coordenadaX }},{{ i.coordenadaY }})
					</script>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-2">
		<a href="/registrartesoro?_id={{ juego[0]._id['$oid'] }}"><button type="submit" class=" btn btn-primary">Registrar tesoro</button></a>
	</div>
	</br>
	</br>
	<h3>Comentarios del juego:</h3>
	<div class="container">
        <div class="row">
				{% for i in comentario %}
				<div class="col-sm-7 col-md-7 col-12 pb-4">
					<div class="comment mt-4 text-justify float-left">
						<h4>{{ i.autor }}</h4> <span>- {{ i.fecha }}</span> <br>
						<p>{{ i.mensaje }}</p>
					</div>
				</div>	
				{% endfor %}
			</div>
		</div>
	</div>
	<form action="/saveComentario" method="POST">
		<div class="form-group">
			<p></p>
			<p></p>
			<input type="hidden" value="{{juego[0]._id['$oid']}}" name="identificador" id="identificador">
				<label for="inputComentario" class="col-sm-12">Escribe tu comentario aquí</label>
				<textarea class="form-control" name="inputComentario" id="inputComentario" rows="3" cols="5"></textarea>
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary">Enviar comentario</button>
		</div>
	</form>
	{% else %}
	</br>
	<h3>Tesoros :</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr id="row">
					<th>Número tesoro</th>
					<th>Encontrado</th>
					<th>Localizado por</th>
				</tr>
			</thead>
			<tbody>
				{% for i in tesoro %}
					<tr>
						<td>{{ loop.index }}</td>
						{% if i.encontrado %}
							<td>SI</td>
						{% else %}
							<td>NO</td>
						{% endif %}
						<td>{{ i.localizadoPor }}</td>
					</tr>
					<script>
					addMarker({{ i.coordenadaX }},{{ i.coordenadaY }})
					</script>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-2">
		<a href="/registrartesoro?_id={{ juego[0]._id['$oid'] }}"><button type="submit" class=" btn btn-primary">Registrar tesoro</button></a>
	</div>
	</br>
	</br>
	<h3>Comentarios del juego:</h3>
	<div class="container">
		<div class="row">
				{% for i in comentario %}
				<div class="col-sm-7 col-md-7 col-12 pb-4">
					<div class="comment mt-4 text-justify float-left">
						<h4>{{ i.autor }}</h4> <span>- {{ i.fecha }}</span> <br>
						<p>{{ i.mensaje }}</p>
					</div>
				</div>	
				{% endfor %}
			</div>
		</div>
	</div>
	<form action="/saveComentario" method="POST">
		<div class="form-group">
			<p></p>
			<p></p>
			<input type="hidden" value="{{juego[0]._id['$oid']}}" name="identificador" id="identificador">
				<label for="inputComentario" class="col-sm-12">Escribe tu comentario aquí</label>
				<textarea class="form-control" name="inputComentario" id="inputComentario" rows="3" cols="5"></textarea>
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary">Enviar comentario</button>
		</div>
	</form>
	{% endif %}

<style>
	.comment {
    border: 1px solid rgba(16, 46, 46, 1);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
	margin: 4px;
	}

	.comment p,
	.comment h4,
	.comment span {
    color: black
	}

	.comment h4,
	.comment span {
    display: inline
	}


</style>	
{% endblock content %}


